/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 480px;
  }

  .sectionHomeContent,
  .headerContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .headerContent {
    height: 80px;
    background-color: var(--cor-secundaria);
    border-radius: 0 0 50px 50px;
  }

  .headerContent header button {
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 10% 10% 0 0;
    color: var(--text-color);
  }

  .headerContent header button:hover {
    border-bottom: solid 1px;
    font-size: 25px;
  }

  .descriptionAboutProject {
    width: 70%;
    position: relative;
  }
}