<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/oldStyle.css">
        <script src="../javascript/function.js"></script>
        <title>Burimo</title>
    </head>
    <nav class="nav1">
        <ul>
            <li><b style="margin:10px;" href="#">Home</b></li>
            <li><b style="margin:10px;" href="#">Burimo</b></li>
            <li><b style="margin:10px;" href="#">Contact Us</b></li>
        </ul>
    </nav>

    <body>
        <img style="width: 50%;" alt="" src="images\Frame 7.png">
        <div style="margin:20px;">
            <input style="color:black;width:75%;text-align: center;" type="text" placeholder="Escreva seu texto aqui!!" id="text" onkeyup="getText()" />
            <br /><br />

        </div>
        <!-- <button style="margin:5px;height:30px;width:50px;" onclick="match()">Enter</button> -->
        <div style="margin:5px;" id="output"></div>
        <script>

        </script>
        <div id="word_wrong"></div>
        <p id="sugestion"></p>

    </body>

</html>