<div class="descriptionAboutProject">
    <p>Burimo é uma ferramenta que ajuda a corrigir termos que podem ser pejorativos ou ofensivos, especialmente para
        pessoas negras. A ideia é conscientizar as pessoas para usarem palavras que não carreguem racismo ou
        preconceito.</p>
</div>
<br>
<div class="containerText">
    <div class="containerTopInfo">
        <div class="containerTitle">
            <p>Escreva</p>
        </div>
        <div class="containerOptions">
            <button aria-label="Salvar"><i class="fa-regular fa-bookmark"></i></button>
            <button aria-label="Copiar"><i class="fa-regular fa-copy"></i></button>
            <button aria-label="Limpar"><i class="fa-solid fa-eraser"></i></button>
        </div>
    </div>
    <div class="containerInputText">
        <textarea id="input-text" onkeyup="getText()"></textarea>
    </div>
</div>
<br>
<div class="containerSugestion ">
    <div class="containerTopInfo">
        <div class="containerSugestionTitle">
            <p>Sugestão</p>
        </div>
    </div>
    <div class="containerSugestionTextArea invisible-scrollbar">
        <div class="ListSugestion" id="listSugestion">
        </div>
    </div>
</div>
<br>